p{
	margin: 0px;
	padding: 0px;
}
.header-challenge{
	width: 100%;
	background: url(../image/challenges/img-headerbg.png);
	background-size: cover;
	padding-top: 37%;
	margin-top: 51px;
}
.menu-fix-when-scroll{
	background-color: rgba(0,0,0,0.8);
	padding: 10px;
	position: relative;
}
.menu-fix-when-scroll p{
	font-family: 'ProximaNova Regular';
	font-size: 14px;
	color: white;
	opacity: 1;
}
.menu-fix-when-scroll h1{
	font-family: 'ProximaNova Black Italic';
	font-size: 32px;
	color: #ffe200;
	margin: 0px;
	opacity: 1;
}
.menu-fix-when-scroll button{
	border: 0px;
	vertical-align: center;
	margin-top: 20px;
	opacity: 100%;
}


.timeline{
	width: 100%;
	position: relative;
	background-color: #dddddd;
	min-height: 130px;
}

.main-content{
	background-color : #eeeeee;
	width: 100%;
	position: relative;
	min-height: 200px;
}
.content-container{
	margin-bottom: 10px;
}
.content-container h2{
	background-color: black;
	font-family: 'ProximaNova Light Italic';
	font-size: 20px;
	color: white;
	padding: 10px;
	padding-left: 20px;
}
.content-container h2 span{
	float: right;
	margin-right: 10px;
	font-size: 16px;
	opacity: 90%;
	margin-top: 3px;
}
.content-container p{
	padding: 10px;
	font-size: 16px;
	font-family: 'ProximaNova Regular';
}
.subcontent-prize{
	text-align: center;
	margin-bottom: 10px;
	background-color: #ffe200;
}
.subcontent-deadline{
	text-align: center;
	margin-bottom: 10px;
	background-color: #ffe200;
}
.subcontent-submission{
	text-align: center;
	margin-bottom: 10px;
	background-color: #ffe200;
	padding-bottom: 5px;
}
.subcontent-jury{
	text-align: left;
	margin-bottom: 10px;
	background-color: #ffe200;
}
.subcontent-jury-992{
	text-align: center;
	margin-bottom: 10px;
	background-color: #ffe200;
	padding-bottom: 10px;
}
.subcontent-prize h3{
	color: white;
	font-family: 'ProximaNova Black Italic';
	font-size: 18px;
	padding-top: 5px;
	margin-bottom: 0px;
}
.subcontent-deadline h3{
	color: white;
	font-family: 'ProximaNova Black Italic';
	font-size: 18px;
	padding-top: 5px;
	margin-bottom: 0px;
}
.subcontent-submission h3{
	color: white;
	font-family: 'ProximaNova Black Italic';
	font-size: 18px;
	padding-top: 5px;
	margin-bottom: 0px;
	margin-bottom: 8px;
}
.subcontent-submission img{
	width: 18%;
	margin-bottom: 5px;
}
.subcontent-jury h3{
	color: white;
	font-family: 'ProximaNova Black Italic';
	font-size: 18px;
	padding-top: 5px;
	margin-bottom: 0px;
	text-align: center;
}
.subcontent-jury-992 h3{
	color: white;
	font-family: 'ProximaNova Black Italic';
	font-size: 18px;
	padding-top: 5px;
	margin-bottom: 0px;
}

.subcontent-prize p{
	color: #ed1c24;
	font-family: 'ProximaNova Black Italic';
	font-size: 24px;
	width: 100%;
}
.subcontent-deadline p{
	color: #ed1c24;
	font-family: 'ProximaNova Black Italic';
	font-size: 24px;
	width: 100%;
}

#total-prize{
	background: url(../image/challenges/bg-prize.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#deadline{
	background: url(../image/challenges/bg-deadline.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#time{
	font-size: 14px;
	font-family: 'ProximaNova Light Italic';
	color: #ed1c24;
}
.subcontent-jury .row{
	padding: 10px;
}
.subcontent-jury .col-xs-4 img{
	width: 90%;
}
.subcontent-jury .col-xs-4{
	padding-right: 0px;
	padding-left: 20px;
}
.subcontent-jury .col-xs-8{
	padding-top: 7px;
}
.jury-title{
	text-align: left;
	color: #ed1c24;
	font-family: 'ProximaNova Black Italic';
	font-size: 20px;
}
.jury-desc{
	text-align: left;
	color: grey;
	font-family: 'ProximaNova Light Italic';
	font-size: 16px;
}
.content-container form{
	padding: 10px;
}
.content-container form input{
	font-family: "ProximaNova Regular";
	font-size: 16px;
	color: #333;
}
form .content-container{
	padding-top: 30px;
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
	border-top: 1px #dddddd solid;
}
.content-container h5{
	text-align: center;
	color: grey;
	margin-bottom: 40px;
}
.fixed{
	z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: 51px;
}
.subcontent-jury-992 .row .col-xs-4 .jury-desc{
	text-align: center;
}
.subcontent-jury-992 .row .col-xs-4 .jury-title{
	text-align: center;
}
.subcontent-jury-992 .row .col-xs-4 img{
	text-align: center;
	width: 60%;
	padding: 10px;
}

.row{
	margin-top : 0px;
}


/*Timeline mulai dari sini ya*/
.timeline-wrap { 
	position: relative; 
	width: 88%; 
	height: 8px; 
	margin-top: 65px;
}
.timeline-event {
	position: absolute;
	left: 0; 
	top: 0;
}
.timeline-bottom{
	width: 88%;
}
.timeline-event-white {
	position: absolute; 
	top: 0px; 
	left: 19px;
	width: 100%; 
	height: 8px; 
	z-index: 1;
	background: white;
	cursor: pointer;
	-webkit-transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
	-moz-transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
	transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
}
.timeline-event-red {
	position: absolute; 
	top: 0px; 
	left: 19px;
	width: 45%; 
	height: 8px; 
	z-index:2;
	background: #ed1c24;
	cursor: pointer;
	-webkit-transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
	-moz-transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
	transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
}
.timeline-list-events {
	position: absolute;
	width: 100%;
	left: 0;
	top: -30px;
	color: #222;
	z-index: 3;
}
.event {
	position: absolute;
	top: 0;
	margin-left: -12px;
}
.timeline-dateblock-active:before  {
	display: block;
	content: "";
	margin: 4px 4px 4px 20px;
	left: 20px;
	top: 24px;
	border: 5px solid #ed1c24;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	background: rgb(255, 255, 255);
}
.timeline-dateblock:before  {
	display: block;
	content: "";
	margin: 4px 4px 4px 20px;
	left: 20px;
	top: 24px;
	border: 5px solid white;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	background: #bababa;
}
span.event-title{
	margin: 0;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #6A6A6A;
}
span.event-done{
	color: #ed1c24;
}
span.event-submission{
	left: -31px;
	position: relative;
	margin: 0;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
span.event-time{
	position: absolute;
	left: -20px;
	top: 40px;
	padding: 8px;
	margin: 0;
	width: 95px;
	text-align: center;
	font-size: 12px;
}

/*Timeline vertical*/
.timeline-vertical{
	height: 700px;
	background-color: #eee;
	margin-bottom: 20px;
	border-bottom: 1px #ddd solid;
}
.timeline-wrap-vertical{
	position: relative; 
	width: 8px; 
	height: 90%; 
	margin: 0 auto;
	padding-top: 50px;
}
.timeline-list-events-vertical{
	position: absolute;
	height: 90%;
	left: 0;
	top: 40px;
	color: #222;
	z-index: 3;
}
.timeline-vertical-bottom{
	position: relative; 
	width: 8px; 
	height: 100%; 
	margin: 0 auto;
}
.timeline-vertical-event-white{
	position: absolute; 
	top: 0px; 
	height: 100%; 
	width: 8px; 
	z-index: 1;
	background: white;
	cursor: pointer;
	-webkit-transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
	-moz-transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
	transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
}
.timeline-vertical-event-red{
	position: absolute; 
	top: 0px; 
	height: 50%; 
	width: 8px; 
	z-index: 1;
	background: red;
	cursor: pointer;
	-webkit-transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
	-moz-transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
	transition: width 0.05s ease-out, height 0.05s ease-out, margin 0.05s ease-out, background 0.05s ease-out;
}
.event-vertical{
	position: absolute;
	margin-left: -26px;
}
.vertical-right{
	position: absolute;
	right: 30%;
	width: 80px;
	text-align: center;
}
.vertical-left{
	position: absolute;
	left: 92%;
	width: 50px;
}

@media(min-width: 1200px){
	#rules-992{
		display: none; 
	}
	#rules-992-notab{
		display: none;
	}
	.subcontent-jury-992{
		display: none;
	}
	#for-tab{
		display: none;
	}
	#no-tab{
		display: inherit;
	}
}
@media(max-width: 1200px){
	#rules-992{
		display: none; 
	}
	#rules-992-notab{
		display: none;
	}
	.subcontent-prize h3{
		color: white;
		font-family: 'ProximaNova Black Italic';
		font-size: 16px;
		padding-top: 5px;
		margin-bottom: 0px;
	}
	.subcontent-deadline h3{
		color: white;
		font-family: 'ProximaNova Black Italic';
		font-size: 16px;
		padding-top: 5px;
		margin-bottom: 0px;
	}
	.subcontent-submission h3{
		color: white;
		font-family: 'ProximaNova Black Italic';
		font-size: 16px;
		padding-top: 5px;
		margin-bottom: 0px;
		margin-bottom: 8px;
	}
	.subcontent-prize p{
		color: #ed1c24;
		font-family: 'ProximaNova Black Italic';
		font-size: 20px;
		width: 100%;
	}
	.subcontent-deadline p{
		color: #ed1c24;
		font-family: 'ProximaNova Black Italic';
		font-size: 16px;
		width: 100%;
	}
	#time{
		font-size: 12px;
	}
	.jury-title{
		text-align: left;
		color: #ed1c24;
		font-family: 'ProximaNova Black Italic';
		font-size: 16px;
	}
	.jury-desc{
		text-align: left;
		color: grey;
		font-family: 'ProximaNova Light Italic';
		font-size: 14px;
	}
	.subcontent-jury-992{
		display: none;
	}
	#for-tab{
		display: none;
	}
	#no-tab{
		display: inherit;
	}
}

@media(max-width: 992px){
	#rules{
		display: none;
	}
	#rules-992{
		display: inherit;
	}
	#rules-notab{
		display: none;
	}
	#rules-992-notab{
		display: inherit;
	}
	.content-container h2{
		background-color: transparent;
		font-family: 'ProximaNova Black Italic';
		font-size: 20px;
		color: black;
		padding: 10px;
		padding-left: 0px;
	}
	.content-container h2 span a{
		font-family: "ProximaNova Light Italic";
		color: grey;
	}
	.content-container p{
		padding: 0px 0px 10px 0px;
	}
	.subcontent-jury{
		display: none;
	}
	.subcontent-jury-992{
		display: inherit;
	}
	#total-prize-992{
		background: url(../image/challenges/bg-prize.png);
		background-repeat: no-repeat;
		background-size: 100%;
	}
	#deadline-992{
		background: url(../image/challenges/bg-deadline.png);
		background-repeat: no-repeat;
		background-size: 100%;
	}
	#for-tab{
		display: none;
	}
	#no-tab{
		display: inherit;
	}
	.subcontent-submission img{
		width: 13%;
	}
	
}
@media(max-width: 768px){
	.menu-fix-when-scroll h1{
		font-size: 24px;
	}
	#button-chalago-xl{
		font-size: 24px;
	}
	#rules{
		display: none;
	}
	#rules-992{
		display: inherit;
	}
	#rules-notab{
		display: none;
	}
	#rules-992-notab{
		display: inherit;
	}
	#for-tab{
		display: none;
	}
	#no-tab{
		display: inherit;
	}
	
}

@media(max-width: 640px){

	#for-tab{
		display: inherit;
	}
	#no-tab{
		display: none;
	}
	span.event-time{
	position: absolute;
	left: 0;
	top: -32px;
	padding: 8px;
	margin: 0;
	width: 95px;
	text-align: center;
	font-size: 12px;
	}
	span.event-title {
		top: 3px;
		right: 25px;
		position: absolute;
	}
}

@media(max-width: 605px){
	.menu-fix-when-scroll h1{
		font-size: 20px;
	}
	#button-chalago-xl{
		font-size: 18px;
		padding: 5px 12px 5px 12px;
	}
	#rules{
		display: none;
	}
	#rules-992{
		display: inherit;
	}
	#rules-notab{
		display: none;
	}
	#rules-992-notab{
		display: inherit;
	}
	.subcontent-submission img{
		width: 18%;
	}
}
@media(max-width: 380px){
	.subcontent-jury{
		display: inherit;
	}
	.subcontent-jury-992{
		display: none;
	}
}

/* Untuk tab*/
.nav-tabs li{
	width: 50%;
}
.nav-tabs > li > a {	
	font-family: "ProximaNova Black";
	font-size: 18px;
	text-align: center;
	background-color: #222222;
	color: #888888;
	border: 0px;
	border-radius: 0px;
	margin-right: 0px;
	border-bottom: #222 4px solid;
}
.nav-tabs > li > a:hover{	
	border: 0px;
	background-color: #222222;
	color: #888888;
	border-bottom: 4px solid red;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{	
	background-color: #000;
	color: #fff;
	border: 0px;
	border-bottom: 4px solid red;
}
.nav-tabs > li.active > a > img {
	margin: 5px;
	width: 30px;
	opacity: 1;
}

.nav-tabs > li > a > img {
	margin: 5px;
	width: 30px;
	opacity: 0.5;
}

#rules-992 img, #rules img, #rules-notab img, #rules-992-notab img{
	margin-left: 10px;
	width: 10px;
}
#rules-992 a, #rules a, #rules-notab a, #rules-992-notab a{
	color: #888;
}

#timeline{
	padding-bottom: 50px;	
	text-align: center;
	background-color: #eee;
}
