body{
	font-family: "ProximaNova Regular";
	font-size: 16px;
}
.main{
	margin-top: 50px;
	background-color: green;
}

.logo{
	width: 120px;
}
.navbar-inverse{
	background-color: black;
}
.navbar-nav>li>a {
	padding-top: 20px;
	padding-bottom: 6.5px;
}
.navbar-inverse .navbar-nav>li>a {
	font-family: 'ProximaNova Black';
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 20px;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: #ffe200;
	border-bottom: 3.5px solid red;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
}

#button-chalago{
	font-family: 'ProximaNova Black';
	font-size: 20pt;
	color: white;
	border: 0px;
	padding: 8px 20px 8px 20px;
	border-radius: 4px;
	background-color: #ed1c24;
	box-shadow: 0px 3px 0px #bb131a;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
}
#button-chalago:hover{
	background-color: #ff1c24;
	box-shadow: 0px 3px 0px #cd131a;
	color: white;
	text-decoration: none;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
}
#button-chalago-s{
	font-family: 'ProximaNova Black';
	font-size: 14pt;
	color: white;
	padding: 3px 16px 3px 16px;
	border-radius: 4px;
	background-color: #ed1c24;
	box-shadow: 0px 3px 0px #bb131a;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
}
#button-chalago-s:hover{
	background-color: #ff1c24;
	box-shadow: 0px 3px 0px #cd131a;
	color: white;
	text-decoration: none;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
}
#button-chalago-s .arrow{
	height: 14px;
	margin-left: 8px;
	margin-top: -4px;
}
#button-chalago-xl{
	font-family: 'ProximaNova Black';
	font-size: 20pt;
	color: white;
	padding: 8px 20px 8px 20px;
	border-radius: 4px;
	background-color: #ed1c24;
	box-shadow: 0px 3px 0px #bb131a;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
}
#button-chalago-xl:hover{
	background-color: #ff1c24;
	box-shadow: 0px 3px 0px #cd131a;
	color: white;
	text-decoration: none;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
}
#button-chalago-xl .arrow{
	height: 22px;
	margin-left: 8px;
	margin-top: -4px;
}
.arrow{
	height: 16px;
}
.showcase{
	background: url(../image/home/header.jpg) 50% 0 no-repeat fixed;
	background-position: absolute;
	width: 100%;
	height: auto;
	background-position: center;
	background-size: cover;
	margin-top: 50px;
	text-align: center;
	padding-bottom: 50px;
}
.showcase #button-chalago-xl{	
	margin: 50px;

}
.showcase h1{
	padding-top: 70px;
	padding-bottom: 10px;
	color: white;
	font-family: 'ProximaNova Black Italic';
	font-size: 72px;
	text-shadow:  0px 0px 8px black;
}
.showcase h4{
	color: white;
	font-family: 'ProximaNova Light Italic';
	font-size: 24px;
	text-shadow:  0px 0px 8px black;
	margin-bottom: 40px;
}
.showcase h4 span img{
	margin-top: -10px;
	width: 18px;
}

.on-going-challenge{
	background-color: #e4e4e4;
	position: relative;
	padding-bottom: 30px;
	text-align: center;
}
.on-going-challenge h1{
	font-family: 'ProximaNova Black Italic';
	color: black;
	font-size: 42px;
	margin-top: 40px;
	margin-bottom: 30px;
}
.on-going-challenge h4{
	font-family: 'ProximaNova Light Italic';
	font-size: 14pt;	
	margin-top: 40px;
}
.on-going-challenge h4 a{
	color: #ed1c24;
}
.row{
	margin-top: 20px;
}
.brands-get-started{
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #ffe200;
	text-align: center;
	height: 240px;
	color: black;
	font-family: 'ProximaNova Black Italic';
	font-size: 20pt;
}

.brands-get-started button
{
	border: 0px
}

.brands-get-started #button-chalago{
	margin-left: 12px;
	min-width: 200px;
}
.brands-get-started #button-chalago .arrow{
	height: 22px;
	margin-left: 8px;
	margin-top: -4px;
}

#prize{
	font-family: 'ProximaNova Black';
}
#deadline{
	font-family: 'ProximaNova Black';
	color: #ff1c24;
}

.testimonial{
	background-color: #eeeeee;
	padding-top: 60px;
	padding-bottom: 50px;
}
.testimonial h1{
	font-family: 'ProximaNova Black Italic';
	color: black;
	font-size: 42px;
	margin-bottom: 50px;
	text-align: center;
}
.testi{
	font-family: 'ProximaNova Regular';
	font-size: 12pt;
	background-color: white;
	padding: 20px;
}

.testi::before{
	content: url(../image/icon/panah.png);
	margin-top: 0px;
	position: absolute;
	right: 100%
}

.testi p{
	padding: 0px;
	margin: 0px;
}
button{
	border: 0px;
}
#name{
	font-family: 'ProximaNova Bold';
	font-size: 14pt;
}
.image-ava{
	width: 100%;
}

.image{
	width: 100%;
}
#svg-testi{
	margin-top: 20px;
	margin-left: 14px;
}
footer{
	background-color: black;
	min-height: 250px;
}
.right{
	padding-left: 40px;
}
 .brands-get-started .a{
 	float: left;
 }
 .navbar-header button{
 	border: 0px;
 }
.navbar-header button span img{
	width: 28px;
}


@font-face {
font-family: 'ProximaNova Regular';
src: url('../font/ProximaNova Regular.otf');
}
@font-face {
font-family: 'ProximaNova Light Italic';
src: url('../font/ProximaNova LightIt.otf');
}
@font-face {
font-family: 'ProximaNova Black Italic';
src: url('../font/ProximaNova BlackIt.otf');
}
@font-face {
font-family: 'ProximaNova Bold';
src: url('../font/ProximaNova Bold.otf');
}
@font-face {
font-family: 'ProximaNova Black';
src: url('../font/ProximaNova Black.otf');
}

.container-thumbnail{
	background :url(../../media/image/home/thumbnail.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;	
	margin-bottom: 20px;

}
.description-thumbnail{
	margin-left: 50%;
	width: 50%;
	height: 100%;
	text-align: right;
}
.black{
	background :url(../../media/image/home/black.png);
	background-size: 50% 100%;
	background-repeat: no-repeat;
	height: 100%;
	padding: 20px;
	text-align: right;
	background-position: right;
}
.description-thumbnail h2{
	font-family: 'ProximaNova Black Italic';
	text-align: right;
	color: #FFDD00;
	font-size: 18pt;
	margin-bottom: 0px;
	margin-top: 0px;
	text-shadow:  0px 0px 8px black;
}
.description-thumbnail p{
	font-family: 'ProximaNova Regular';
	text-align: right;
	color: white;
	font-size: 11pt;
	margin-top: 4px;
	margin-bottom: 2px;
	text-shadow:  0px 0px 8px black;
}

#desc{
	margin-bottom: 2px;
}
#cup{
	width: 15px;
	margin-top: -2px;
	margin-right: 8px;
}

.grayscale {
     -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
     -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
     -webkit-filter: grayscale(100%);
      filter: gray;
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
 }

@media (max-width: 1199px){
	.svg-testi{
		margin-left: 0px;
	}
	.testi{
		margin-left: 8px;
	}
	.description-thumbnail #button-chalago-s{
		margin-bottom: 10px;
	}
	.container-thumbnail{
		background-size: cover;
	}
	.description-thumbnail{
		margin-left: 10%;
		width: 90%;
	}
	.description-thumbnail h2{
		font-size: 16pt;
	}

}
@media (max-width: 992px){
	.showcase h1{
		font-size: 70px;
	}
	.svg-testi{
		margin-left: 0px;
	}
	.container-thumbnail{
		background-size: cover;
	}
	.black{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.paket-testi{
	margin-top: 20px;
	}
	.description-thumbnail{
		width: 50%;
		margin-left: 50%;
	}
	.description-thumbnail h2{
		font-size: 14pt;
	}
}
@media (max-width: 768px){
  .testi{
  	min-width: 60%;
  	margin-left: 0%;
  }
  .testi::before{
  	margin-left: 20px;
  }
  .col-xs-1{
  	padding-right: 0%;
  }
  .col-xs-7{
  	margin-left: 0px;
  }
  .svg-testi{
  	padding: 0%;
  	margin-left: 0%;
  }
  .showcase h1{
    font-size: 50px;
  }
  .brands-get-started{
  	padding-bottom: 180px;
  	padding-top: 80px;
  	clear: both;
  }
  .brands-get-started #button-chalago{
  	margin: 0 20%;
  }
  .black{
  	padding-top: 30px;
  	padding-bottom: 30px;
  	background-size: 70% 100%;
  }
  
}

@media(max-width: 605px){
	.description-thumbnail h2{
		font-size: 16pt;
	}
	.description-thumbnail #button-chalago-s{
		font-size: 12pt;
	}
	#deadline{
		margin-bottom: 5px;
	}
	.svg-testi{
		padding: 0%;
		margin-left: 0%;
  	}
  	.testi{
  		margin-left: 2%
  	}
  	.brands-get-started #button-chalago{
  		margin: 0;
 	}
 	.showcase h1{
 		font-size: 34px;
 	}
 	#button-chalago-xl{
 		font-size: 16pt;
 	}
 	.on-going-challenge h1{
 		font-size: 34px;
 	}
 	.testimonial h1{
 		font-size: 34px;
 		margin: 0px;
 	}
 	.description-thumbnail{
 		width: 80%;
 		margin-left: 20%;
 	}
 	.black{
 		padding: 20px;
 		background-size: 60% 100%;
 	}

}