#submissions img{
	width: 15%;
	margin: 3px;
}
.container-result{
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
}
.container-result .image{
	margin-bottom: 5px;
}
#results .row .col-md-7 h3{
	font-family: "ProximaNova Black";
	font-size: 26px;
	color: black;
	margin-top: 0px;
}
#results .row .col-md-7 h4{
	font-family: "ProximaNova Regular";
	font-size: 16px;
	color: #ed1c24;
	margin-top: 0px;
}
#results .row .col-md-7 h6{
	font-family: "ProximaNova Regular";
	font-size: 14px;
	color: #888;
	margin-top: 0px;
}
#prize-tag{
	font-family: "ProximaNova Regular";
	font-size: 16px;
	color: #888;
	margin-top: 0px;
}
#medal-icon{
	margin-right: 10px;
}
#medal{
	font-family: "ProximaNova Black";
	font-size: 16px;
	color: #000;
	margin-top: 0px;
	padding-left: 0px;
}
#description{
	font-family: "ProximaNova Regular";
	font-size: 16px;
	color: #000;
	margin-top: 0px;
	padding-left: 0px;
}
@media(max-width: 769px){
	.image{
		max-width: 400px;
		padding-bottom: 20px;
	}
}