body{
	background-color: #f2f2f2;
	font-family: "ProximaNova Regular";
	font-size: 16px;
}
.container{
	margin: 0 auto;
}
.login-container{
	min-width: 380px;
	max-width: 600px;
	background-color: white;
	padding: 30px;
	padding-bottom: 30px;
	border: 1px solid #ddd;
	border-radius: 0px 0px 7px 7px;
	text-align: center;
	margin: auto;
}
.logo{
	background-color: black;
	width: 100%;
	min-width: 380px;
	max-width: 600px;
	margin: auto;
	text-align: center;
	margin-top: 100px;
	border-radius: 7px 7px 0px 0px;
}
.logo a img{
	width: 60%;
	padding: 20px;
}
hr {
	background-color: #ddd;
	border: 0px;
	height: 1px;
	margin-bottom: 30px;
}
h1{
	font-family: "ProximaNova Black";
	font-size: 1.4em;
	color: #282828;
}
.textbox{
	padding: 10px 15px;
	width: 80%;
	margin-bottom: 10px;
	border-radius: 3px;
	border: 1px solid #ddd;
	font-family: "ProximaNova Regular";
	font-size: 18px;
	text-align: center;
	color: black;
}
.submit-container{
	width: 80%;
	margin: auto;
	text-align: left;
	font-family: "ProximaNova Regular";
	font-size: 14px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
}
.submit-container #button-chalago{
	float: right;
	margin-top: 5px;
}
@media(max-width: 511px){
	.submit-container #button-chalago{
		font-size: 16px;
	}
}