h3{
	font-family: "ProximaNova Bold";
	color: #000;
	font-size: 18px;
}
.form-group{
	font-family: "ProximaNova Regular";
	font-size: 16px;
	color: #838383;
	font-weight: lighter;
}
.main-content{
	margin-top: 51px;
	padding-bottom: 40px;
}
.container{
	max-width: 960px;
}
.checkbox{
	margin-bottom: 20px;
	margin-left: 0px;
}
@media(max-width: 768px){
	.dropzone{
		width: 100%;
		margin-right: 0%;
	}
}

#button-chalago-FB{
	margin-top: 5px;
	width: 100%;
	padding: 6px 20px 8px 20px;
	font-family: 'ProximaNova Black';
	font-size: 18pt;
	color: white;
	border: 0px;
	border-radius: 4px;
	background-color: #3D62B3;
	box-shadow: 0px 3px 0px #335795;
	margin-bottom: 10px;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
}
#button-chalago-FB:hover{
	background-color: #3D62B3;
	box-shadow: 0px 3px 0px #335795;
	color: white;
	text-decoration: none;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
}

#button-chalago-T{
	font-family: 'ProximaNova Black';
	font-size: 18pt;
	color: white;
	border: 0px;
	width: 100%;
	padding: 6px 20px 8px 20px;
	border-radius: 4px;
	background-color: #90D1ED;
	box-shadow: 0px 3px 0px #80BAD4;
	margin-bottom: 10px;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
}
#button-chalago-T:hover{
	background-color: #90D1ED;
	box-shadow: 0px 3px 0px #80BAD4;
	color: white;
	text-decoration: none;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
}

#button-chalago-G{
	font-family: 'ProximaNova Black';
	font-size: 18pt;
	color: white;
	border: 0px;
	width: 100%;
	padding: 6px 20px 8px 20px;
	border-radius: 4px;
	background-color: #F85636;
	box-shadow: 0px 3px 0px #EB4626;
	margin-bottom: 10px;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
}
#button-chalago-G:hover{
	background-color: #F85636;
	box-shadow: 0px 3px 0px #EB4626;
	color: white;
	text-decoration: none;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
}
.col-md-12{
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #ddd;
	text-align: center;
	margin: auto;
}
.col-md-12 p button{
	margin-top: 15px;
}