.submit-container{
	margin-top: 40px;
	padding-top: 40px;
	margin-bottom: 40px;
	border-top: 1px solid #ddd;
	text-align: center;
}

h3{
	font-family: "ProximaNova Bold";
	color: #000;
	font-size: 18px;
}
.form-group{
	font-family: "ProximaNova Regular";
	font-size: 16px;
	color: #838383;
	font-weight: lighter;
}
.warning{
	font-family: "ProximaNova Regular";
	background-color: #ee2e35;
	text-align: center;
	color: white;
	padding: 4px;
	margin-top: 2px;
	margin-bottom: 4px;
}
.attention{
	font-family: "ProximaNova Regular";
	background-color: #ffdd00;
	text-align: center;
	color: #000;
	padding: 4px;
	margin-top: 2px;
}
.attention a{
	color: #000;
}
.dropzone{
	margin-right: 1%;
	width: 74%;
	padding: 50px;
	text-align: center;
	color: #888;
	background-color: #dfdfdf;
	border: 3px dotted #888888;
}
.dropzone button{
	margin-bottom: 20px;
}
.dropzone p img{
	margin-bottom: 20px;
}
.dropzone .dragover{
	color: #000;
}


@media(max-width: 768px){
	.dropzone{
		width: 100%;
		margin-right: 0%;
	}
}