.container-filter{
	background-color: #ffdd00;
	margin-top: 51px;
}
.container-challenges h1{
	font-family: "ProximaNova Black Italic";
	font-size: 24px;
	color: #282828;

}
.container-thumbnail-finished{
	background :url(../../media/image/view-more-challenges/thumbnail-BW.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;	
	margin-bottom: 20px;

}
.description-thumbnail-finished{
	margin-left: 50%;
	width: 50%;
	height: 100%;
	text-align: right;
}
.black{
	background :url(../../media/image/view-more-challenges/black.png);
	background-size: 50% 100%;
	background-repeat: no-repeat;
	height: 100%;
	padding: 20px;
	text-align: right;
	background-position: right;
}
.description-thumbnail-finished h2{
	font-family: 'ProximaNova Black Italic';
	text-align: right;
	color: #fff;
	font-size: 18pt;
	margin-bottom: 0px;
	margin-top: 0px;
	text-shadow:  0px 0px 8px black;
}
.description-thumbnail-finished p{
	font-family: 'ProximaNova Regular';
	text-align: right;
	color: white;
	font-size: 11pt;
	margin-top: 4px;
	margin-bottom: 2px;
	text-shadow:  0px 0px 8px black;
}
.challenge-on-going{
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #ddd;
}
.challenge-finished{
	padding-bottom: 40px;
}
.container-filter h2{
	font-family: "ProximaNova Black Italic";
	font-size: 24px;
	color: #282828;

}

@media (max-width: 1199px){
	
	.description-thumbnail #button-chalago-s{
		margin-bottom: 10px;
	}
	.container-thumbnail-finished{
		background-size: cover;
	}
	.description-thumbnail-finished{
		margin-left: 10%;
		width: 90%;
	}
	.description-thumbnail-finished h2{
		font-size: 16pt;
	}

}
@media (max-width: 992px){

	.container-thumbnail-finished{
		background-size: cover;
	}
	.black{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	
	.description-thumbnail-finished{
		width: 50%;
		margin-left: 50%;
	}
	.description-thumbnail-finished h2{
		font-size: 14pt;
	}
}
@media (max-width: 768px){

  .black{
  	padding-top: 30px;
  	padding-bottom: 30px;
  	background-size: 70% 100%;
  }
  
}

@media(max-width: 605px){
	.description-thumbnail-finished h2{
		font-size: 16pt;
	}
	.description-thumbnail-finished #button-chalago-s{
		font-size: 12pt;
	}
	#deadline{
		margin-bottom: 5px;
	}
	.svg-testi{
		padding: 0%;
		margin-left: 0%;
  	}
  	.testi{
  		margin-left: 2%
  	}
  	.brands-get-started #button-chalago{
  		margin: 0;
 	}
 	.showcase h1{
 		font-size: 34px;
 	}
 	#button-chalago-xl{
 		font-size: 16pt;
 	}
 	.on-going-challenge h1{
 		font-size: 34px;
 	}
 	.testimonial h1{
 		font-size: 34px;
 		margin: 0px;
 	}
 	.description-thumbnail-finished{
 		width: 80%;
 		margin-left: 20%;
 	}
 	.black{
 		padding: 20px;
 		background-size: 60% 100%;
 	}

}